<a href="https://colab.research.google.com/github/NurayBashirli/HW1/blob/main/Copy_of_Homework1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Q1-Get your name and age as input and print it in the form like
#Your name is Hulisi. Your age is 43
name=input('What is your name? ')
age=input('What is your age? ')
print("Your name is", name + '.',"Your age is", age)

What is your name? Nuray
What is your age? 21
Your name is Nuray. Your age is 21

In [ ]:
#Q2-Write a if statement for a given two number is equal or not
a=43
b=54
if a==b:
  print("a equals to b")
else:
  print('a is not equal to b')

a is not equal to b

In [ ]:
#Q3-Write a if statement for first number is greater (a), equal or less than second number.(b)
a=43
b=54
if a>b:
  print('a is greater than b')
elif a==b:
  print('a is equal to b')
else:
  print('a is less than b')

a is less than b

In [ ]:
#Q4- Using for loop, print 1,2,3,4,5
for k in range(1,6):
  print(k)

1
2
3
4
5

In [ ]:
#Q5-Using while loop, print 5,4,3,2,1
for k in range(5,0,-1):
  print(k)

5
4
3
2
1

In [ ]:
#Q6- Using for loop, print 10,6,4,2,0
#Hint Print if number is not equal to 8.
for k in range(10,-1,-2):
 if k!=8:
  print(k)

10
6
4
2
0

In [ ]:
#Q7-Write a method to calculate age for a given date of birth year.
#Use this method on orer to calculate age of person if date of birth is 1944
# if age is the name of function, print(age(1944))
def calculate_age(birth_year):
  age=2024- birth_year
  return age
print(calculate_age(1944))

80

In [ ]:
#Q8-Write a class named arithmetic with method for calculating addition, substraction, multiplication and division of two numbers.
class Arithmetic:
    def addition(self, x, y):
        return x + y

    def subtraction(self, x, y):
        return x - y

    def multiplication(self, x, y):
        return x * y

    def division(self, x, y):
        return x / y

calculator = Arithmetic()
print(calculator.addition(16, 2))
print(calculator.subtraction(16, 2))
print(calculator.multiplication(16, 2))
print(calculator.division(16, 2))

18
14
32
8.0

In [ ]:
#Q9-write a for loop or method  to calculate summation of first n numbers
#i.e if n=3, it will print or return 6 (1+2+3)
def calculate_sum(n):
    total = 0
    for i in range(1, n+1):
        total += i
    return total
n = 3
print("Sum of the first", n, "numbers:", calculate_sum(n))

Sum of the first 3 numbers: 6

In [ ]:
#Q10-Generate 10 numbers between 0 and 1 and add into list. Print first three elements of that list.
random_numbers = [random.random() for _ in range(10)]
print("First three elements of the list:", random_numbers[:3])

First three elements of the list: [0.721348121776572, 0.5350250039049074, 0.49095492389440143]

In [ ]:
#Q11-For a given number n, print numbers divisible by 3 up to that number(n included)
#Example: if n=15, print 3,6,9,12,15
#Hint you can use modulus statement (if (i%3==0))
n=15
for i in range(1, n+1):
  if i % 3 == 0:
        print(i)

3
6
9
12
15