<a href="https://colab.research.google.com/github/NurayBashirli/HW1/blob/main/Homework5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case Intro
Term deposits are a major source of income for a bank. A term deposit is a cash investment held at a financial institution. Your money is invested for an agreed rate of interest over a fixed amount of time, or term. The bank has various outreach plans to sell term deposits to their customers such as email marketing, advertisements, telephonic marketing, and digital marketing.

Telephonic marketing campaigns still remain one of the most effective way to reach out to people. However, they require huge investment as large call centers are hired to actually execute these campaigns. Hence, it is crucial to identify the customers most likely to convert beforehand so that they can be specifically targeted via call.

The data is related to direct marketing campaigns (phone calls) of a Portuguese banking institution. The classification goal is to predict if the client will subscribe to a term deposit (variable y).

Content
The data is related to the direct marketing campaigns of a Portuguese banking institution. The marketing campaigns were based on phone calls. Often, more than one contact to the same client was required, in order to access if the product (bank term deposit) would be ('yes') or not ('no') subscribed by the customer or not. The data folder contains two datasets:-

Bank.csv: 45,211 rows and 18 columns ordered by date (from May 2008 to November 2010)

Detailed Column Descriptions
bank client data:

1 - age (numeric)

2 - job : type of job (categorical: "admin.","unknown","unemployed","management","housemaid","entrepreneur","student",
"blue-collar","self-employed","retired","technician","services")

3 - marital : marital status (categorical: "married","divorced","single"; note: "divorced" means divorced or widowed)

4 - education (categorical: "unknown","secondary","primary","tertiary")

5 - default: has credit in default? (binary: "yes","no")

6 - balance: average yearly balance, in euros (numeric)

7 - housing: has housing loan? (binary: "yes","no")

8 - loan: has personal loan? (binary: "yes","no")
# related with the last contact of the current campaign:
9 - contact: contact communication type (categorical: "unknown","telephone","cellular")
10 - day: last contact day of the month (numeric)

11 - month: last contact month of year (categorical: "jan", "feb", "mar", â€¦, "nov", "dec")

12 - duration: last contact duration, in seconds (numeric)

# other attributes:
13 - campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)

14 - pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric, -1 means client was not previously contacted)

15 - previous: number of contacts performed before this campaign and for this client (numeric)

16 - poutcome: outcome of the previous marketing campaign (categorical: "unknown","other","failure","success")

Output variable (desired target):

17 - y - has the client subscribed a term deposit? (binary: "yes","no")

Missing Attribute Values: None

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/Bank.csv',sep = ';')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,no

In [ ]:
print(df.shape)
df.info()
df.isnull().sum()

(45211, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
#For object check the data
for cn in df.columns:
  if(df[cn].dtype==object):
    print(df[cn].value_counts())

blue-collar      9732
management       9458
technician       7597
admin.           5171
services         4154
retired          2264
self-employed    1579
entrepreneur     1487
unemployed       1303
housemaid        1240
student           938
unknown           288
Name: job, dtype: int64
married     27214
single      12790
divorced     5207
Name: marital, dtype: int64
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: education, dtype: int64
no     44396
yes      815
Name: default, dtype: int64
yes    25130
no     20081
Name: housing, dtype: int64
no     37967
yes     7244
Name: loan, dtype: int64
cellular     29285
unknown      13020
telephone     2906
Name: contact, dtype: int64
may    13766
jul     6895
aug     6247
jun     5341
nov     3970
apr     2932
feb     2649
jan     1403
oct      738
sep      579
mar      477
dec      214
Name: month, dtype: int64
unknown    36959
failure     4901
other       1840
success     1511
Name: poutcome, dtype: int64
no     39922
yes     5289
Name: y, dtype: int64

In [ ]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [ ]:
df=Encoder(df)
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3,0
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3,0
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3,0
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3,0
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3,1
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3,1
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2,1
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3,0
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1,0

In [ ]:
y = df['y'] #Output
X = df.drop('y',axis=1)
X

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,4,1,2,0,2143,1,0,2,5,8,261,1,-1,0,3
1,44,9,2,1,0,29,1,0,2,5,8,151,1,-1,0,3
2,33,2,1,1,0,2,1,1,2,5,8,76,1,-1,0,3
3,47,1,1,3,0,1506,1,0,2,5,8,92,1,-1,0,3
4,33,11,2,3,0,1,0,0,2,5,8,198,1,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,9,1,2,0,825,0,0,0,17,9,977,3,-1,0,3
45207,71,5,0,0,0,1729,0,0,0,17,9,456,2,-1,0,3
45208,72,5,1,1,0,5715,0,0,0,17,9,1127,5,184,3,2
45209,57,1,1,1,0,668,0,0,1,17,9,508,4,-1,0,3
45210,37,2,1,1,0,2971,0,0,0,17,9,361,2,188,11,1

In [ ]:
from sklearn.model_selection import  train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)




Q1)Using  Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate Accuracy on Test data. Which method gives the best accuracy on test data

Q2) Using optuna hyperparmeter optimization technique and 100 trial

 a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation accuracy?

"max_depth": range(2, 16), "max_features": range(2, 16)

 b)Evaluate the performance of the  method with highest cross validation accuracy on test data.What is the accuracy value?

In [5]:
#Q1)Using Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate Accuracy on Test data. Which method gives the best accuracy on test data
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier
from sklearn.metrics import accuracy_score

# Load the data
df = pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/Bank.csv', sep=';')

# Encoding categorical variables
def encoder(df):
    from sklearn.preprocessing import LabelEncoder
    columns_to_encode = list(df.select_dtypes(include=['category', 'object']))
    le = LabelEncoder()
    for feature in columns_to_encode:
        df[feature] = le.fit_transform(df[feature])
    return df

df_encoded = encoder(df)

# Splitting the data into features (X) and target variable (y)
X = df_encoded.drop('y', axis=1)
y = df_encoded['y']

# Splitting the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

# Initialize models
rf_model = RandomForestClassifier(random_state=17)
xgb_model = XGBClassifier(random_state=17)
lgbm_model = LGBMClassifier(random_state=17)
gb_model = GradientBoostingClassifier(random_state=17)

# Train models
rf_model.fit(X_train, y_train)
xgb_model.fit(X_train, y_train)
lgbm_model.fit(X_train, y_train)
gb_model.fit(X_train, y_train)

# Predictions
rf_pred = rf_model.predict(X_test)
xgb_pred = xgb_model.predict(X_test)
lgbm_pred = lgbm_model.predict(X_test)
gb_pred = gb_model.predict(X_test)

# Calculate accuracies
rf_accuracy = accuracy_score(y_test, rf_pred)
xgb_accuracy = accuracy_score(y_test, xgb_pred)
lgbm_accuracy = accuracy_score(y_test, lgbm_pred)
gb_accuracy = accuracy_score(y_test, gb_pred)

# Print accuracies
print("Random Forest Accuracy:", rf_accuracy)
print("XGBoost Accuracy:", xgb_accuracy)
print("Light GBM Accuracy:", lgbm_accuracy)
print("Gradient Boosting Accuracy:", gb_accuracy)

[LightGBM] [Info] Number of positive: 3940, number of negative: 29968
[LightGBM] [Info] Auto-choosing row-wise multi-threading, the overhead of testing was 0.003852 seconds.
You can set `force_row_wise=true` to remove the overhead.
And if memory is not enough, you can set `force_col_wise=true`.
[LightGBM] [Info] Total Bins 988
[LightGBM] [Info] Number of data points in the train set: 33908, number of used features: 16
[LightGBM] [Info] [binary:BoostFromScore]: pavg=0.116197 -> initscore=-2.028949
[LightGBM] [Info] Start training from score -2.028949
Random Forest Accuracy: 0.9025037600636999
XGBoost Accuracy: 0.9036538971954349
Light GBM Accuracy: 0.9073697248518092
Gradient Boosting Accuracy: 0.9018844554543042

In [12]:
#Q2) Using optuna hyperparmeter optimization technique and 100 trial

#a)find best methods with parameters using Cross validation (CV=3) technique for the range of parameters below. What are the best parameters for the method with highest cross validation accuracy? "max_depth": range(2, 16), "max_features": range(2, 16)

#b)Evaluate the performance of the method with highest cross validation accuracy on test data.What is the accuracy value?

import optuna
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# Define objective function for Optuna
def objective(trial):
    # Define search space
    params = {
        "max_depth": trial.suggest_int("max_depth", 2, 16),
        "max_features": trial.suggest_int("max_features", 2, 16)
    }

    # Initialize model
    model = RandomForestClassifier(**params, random_state=17)

    # Perform cross-validation
    cv_scores = cross_val_score(model, X_train, y_train, cv=3)

    # Return mean cross-validation accuracy
    return cv_scores.mean()

# Create study object and optimize hyperparameters
study = optuna.create_study(direction="maximize")
study.optimize(objective, n_trials=100)

# Get best parameters
best_params = study.best_params
print("Best parameters:", best_params)

# Initialize model with best parameters
best_model = RandomForestClassifier(**best_params, random_state=17)

# Train best model on full training data
best_model.fit(X_train, y_train)

# Evaluate the performance of the best model on the test data
test_accuracy = best_model.score(X_test, y_test)
print("Accuracy on test data:", test_accuracy)

[I 2024-04-16 11:02:35,888] A new study created in memory with name: no-name-1ef442cb-0b66-4a36-acb5-e5a67302f351
[I 2024-04-16 11:02:42,978] Trial 0 finished with value: 0.9037395590295049 and parameters: {'max_depth': 10, 'max_features': 4}. Best is trial 0 with value: 0.9037395590295049.
[I 2024-04-16 11:03:01,505] Trial 1 finished with value: 0.9039165292969605 and parameters: {'max_depth': 14, 'max_features': 11}. Best is trial 1 with value: 0.9039165292969605.
[I 2024-04-16 11:03:05,175] Trial 2 finished with value: 0.8955113939998224 and parameters: {'max_depth': 9, 'max_features': 2}. Best is trial 1 with value: 0.9039165292969605.
[I 2024-04-16 11:03:12,781] Trial 3 finished with value: 0.9043883882559314 and parameters: {'max_depth': 12, 'max_features': 4}. Best is trial 3 with value: 0.9043883882559314.
[I 2024-04-16 11:03:18,628] Trial 4 finished with value: 0.8926211805745984 and parameters: {'max_depth': 3, 'max_features': 14}. Best is trial 3 with value: 0.9043883882559314.
[I 2024-04-16 11:03:25,383] Trial 5 finished with value: 0.9037395590295049 and parameters: {'max_depth': 10, 'max_features': 4}. Best is trial 3 with value: 0.9043883882559314.
[I 2024-04-16 11:03:30,340] Trial 6 finished with value: 0.9011443151851579 and parameters: {'max_depth': 10, 'max_features': 3}. Best is trial 3 with value: 0.9043883882559314.
[I 2024-04-16 11:03:57,031] Trial 7 finished with value: 0.9022059854485048 and parameters: {'max_depth': 16, 'max_features': 16}. Best is trial 3 with value: 0.9043883882559314.
[I 2024-04-16 11:04:19,277] Trial 8 finished with value: 0.9046538019077667 and parameters: {'max_depth': 9, 'max_features': 11}. Best is trial 8 with value: 0.9046538019077667.
[I 2024-04-16 11:04:37,581] Trial 9 finished with value: 0.9051551619997603 and parameters: {'max_depth': 13, 'max_features': 12}. Best is trial 9 with value: 0.9051551619997603.
[I 2024-04-16 11:04:43,607] Trial 10 finished with value: 0.9003775205666552 and parameters: {'max_depth': 5, 'max_features': 7}. Best is trial 9 with value: 0.9051551619997603.
[I 2024-04-16 11:04:52,805] Trial 11 finished with value: 0.9026778757194868 and parameters: {'max_depth': 6, 'max_features': 11}. Best is trial 9 with value: 0.9051551619997603.
[I 2024-04-16 11:05:07,080] Trial 12 finished with value: 0.9050076980839957 and parameters: {'max_depth': 13, 'max_features': 9}. Best is trial 9 with value: 0.9051551619997603.
[I 2024-04-16 11:05:23,099] Trial 13 finished with value: 0.9053026572275357 and parameters: {'max_depth': 14, 'max_features': 8}. Best is trial 13 with value: 0.9053026572275357.
[I 2024-04-16 11:05:35,924] Trial 14 finished with value: 0.9046538097357696 and parameters: {'max_depth': 16, 'max_features': 7}. Best is trial 13 with value: 0.9053026572275357.
[I 2024-04-16 11:05:58,741] Trial 15 finished with value: 0.903444654681984 and parameters: {'max_depth': 14, 'max_features': 13}. Best is trial 13 with value: 0.9053026572275357.
[I 2024-04-16 11:06:12,336] Trial 16 finished with value: 0.9048602576522393 and parameters: {'max_depth': 12, 'max_features': 9}. Best is trial 13 with value: 0.9053026572275357.
[I 2024-04-16 11:06:24,898] Trial 17 finished with value: 0.9051256791320773 and parameters: {'max_depth': 15, 'max_features': 7}. Best is trial 13 with value: 0.9053026572275357.
[I 2024-04-16 11:06:44,086] Trial 18 finished with value: 0.9042409426055066 and parameters: {'max_depth': 12, 'max_features': 13}. Best is trial 13 with value: 0.9053026572275357.
[I 2024-04-16 11:06:58,687] Trial 19 finished with value: 0.9037985482488787 and parameters: {'max_depth': 7, 'max_features': 16}. Best is trial 13 with value: 0.9053026572275357.
[I 2024-04-16 11:07:12,608] Trial 20 finished with value: 0.9053911110492526 and parameters: {'max_depth': 14, 'max_features': 6}. Best is trial 20 with value: 0.9053911110492526.
[I 2024-04-16 11:07:31,504] Trial 21 finished with value: 0.9053911110492526 and parameters: {'max_depth': 14, 'max_features': 6}. Best is trial 20 with value: 0.9053911110492526.
[I 2024-04-16 11:07:46,556] Trial 22 finished with value: 0.904860286354916 and parameters: {'max_depth': 15, 'max_features': 6}. Best is trial 20 with value: 0.9053911110492526.
[I 2024-04-16 11:08:00,499] Trial 23 finished with value: 0.9053911110492526 and parameters: {'max_depth': 14, 'max_features': 6}. Best is trial 20 with value: 0.9053911110492526.
[I 2024-04-16 11:08:09,013] Trial 24 finished with value: 0.9054205756515955 and parameters: {'max_depth': 11, 'max_features': 5}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:08:18,118] Trial 25 finished with value: 0.9054205756515955 and parameters: {'max_depth': 11, 'max_features': 5}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:08:27,231] Trial 26 finished with value: 0.9054205756515955 and parameters: {'max_depth': 11, 'max_features': 5}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:08:35,614] Trial 27 finished with value: 0.9054205756515955 and parameters: {'max_depth': 11, 'max_features': 5}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:08:41,132] Trial 28 finished with value: 0.8977822428009629 and parameters: {'max_depth': 8, 'max_features': 3}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:08:50,014] Trial 29 finished with value: 0.9054205756515955 and parameters: {'max_depth': 11, 'max_features': 5}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:08:54,086] Trial 30 finished with value: 0.8943907214704304 and parameters: {'max_depth': 8, 'max_features': 2}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:09:03,194] Trial 31 finished with value: 0.9054205756515955 and parameters: {'max_depth': 11, 'max_features': 5}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:09:11,843] Trial 32 finished with value: 0.9054205756515955 and parameters: {'max_depth': 11, 'max_features': 5}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:09:17,895] Trial 33 finished with value: 0.8989324060260403 and parameters: {'max_depth': 9, 'max_features': 3}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:09:25,036] Trial 34 finished with value: 0.9037395590295049 and parameters: {'max_depth': 10, 'max_features': 4}. Best is trial 24 with value: 0.9054205756515955.
[I 2024-04-16 11:09:39,002] Trial 35 finished with value: 0.9057745057491697 and parameters: {'max_depth': 12, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:09:53,452] Trial 36 finished with value: 0.9057745057491697 and parameters: {'max_depth': 12, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:10:07,497] Trial 37 finished with value: 0.9057745057491697 and parameters: {'max_depth': 12, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:10:25,010] Trial 38 finished with value: 0.9047717960025198 and parameters: {'max_depth': 13, 'max_features': 10}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:10:38,966] Trial 39 finished with value: 0.9057745057491697 and parameters: {'max_depth': 12, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:10:42,670] Trial 40 finished with value: 0.8841866276431336 and parameters: {'max_depth': 2, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:10:54,721] Trial 41 finished with value: 0.9052731587038475 and parameters: {'max_depth': 10, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:11:12,102] Trial 42 finished with value: 0.9053320800805308 and parameters: {'max_depth': 12, 'max_features': 10}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:11:28,451] Trial 43 finished with value: 0.9053320800805308 and parameters: {'max_depth': 12, 'max_features': 10}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:11:43,113] Trial 44 finished with value: 0.9047422948694973 and parameters: {'max_depth': 13, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:11:59,626] Trial 45 finished with value: 0.9050076980839957 and parameters: {'max_depth': 13, 'max_features': 9}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:12:09,993] Trial 46 finished with value: 0.9053321087832075 and parameters: {'max_depth': 10, 'max_features': 7}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:12:27,063] Trial 47 finished with value: 0.9053320800805308 and parameters: {'max_depth': 12, 'max_features': 10}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:12:43,965] Trial 48 finished with value: 0.9042704098171838 and parameters: {'max_depth': 15, 'max_features': 9}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:12:57,025] Trial 49 finished with value: 0.9054795779176406 and parameters: {'max_depth': 13, 'max_features': 7}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:13:11,217] Trial 50 finished with value: 0.9046538097357696 and parameters: {'max_depth': 16, 'max_features': 7}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:13:26,028] Trial 51 finished with value: 0.9047422948694973 and parameters: {'max_depth': 13, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:13:41,369] Trial 52 finished with value: 0.9048602576522393 and parameters: {'max_depth': 12, 'max_features': 9}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:13:54,395] Trial 53 finished with value: 0.9054795779176406 and parameters: {'max_depth': 13, 'max_features': 7}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:14:09,809] Trial 54 finished with value: 0.9035035943240071 and parameters: {'max_depth': 15, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:14:22,751] Trial 55 finished with value: 0.9054795779176406 and parameters: {'max_depth': 13, 'max_features': 7}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:14:27,693] Trial 56 finished with value: 0.8930340764075378 and parameters: {'max_depth': 4, 'max_features': 7}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:14:39,558] Trial 57 finished with value: 0.9053911110492526 and parameters: {'max_depth': 14, 'max_features': 6}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:14:55,299] Trial 58 finished with value: 0.9048602576522393 and parameters: {'max_depth': 12, 'max_features': 9}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:15:13,937] Trial 59 finished with value: 0.9052731378291735 and parameters: {'max_depth': 13, 'max_features': 11}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:15:25,177] Trial 60 finished with value: 0.9049192677462871 and parameters: {'max_depth': 9, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:15:38,237] Trial 61 finished with value: 0.9054795779176406 and parameters: {'max_depth': 13, 'max_features': 7}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:15:50,279] Trial 62 finished with value: 0.9053911110492526 and parameters: {'max_depth': 14, 'max_features': 6}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:16:04,228] Trial 63 finished with value: 0.9051256791320773 and parameters: {'max_depth': 15, 'max_features': 7}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:16:18,047] Trial 64 finished with value: 0.9057745057491697 and parameters: {'max_depth': 12, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:16:33,001] Trial 65 finished with value: 0.9048602576522393 and parameters: {'max_depth': 12, 'max_features': 9}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:16:47,304] Trial 66 finished with value: 0.9057745057491697 and parameters: {'max_depth': 12, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:17:00,563] Trial 67 finished with value: 0.9050372044356866 and parameters: {'max_depth': 11, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:17:16,999] Trial 68 finished with value: 0.9053320800805308 and parameters: {'max_depth': 12, 'max_features': 10}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:17:31,327] Trial 69 finished with value: 0.9050077215680039 and parameters: {'max_depth': 10, 'max_features': 9}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:17:44,855] Trial 70 finished with value: 0.9050372044356866 and parameters: {'max_depth': 11, 'max_features': 8}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:17:58,276] Trial 71 finished with value: 0.9050961623430495 and parameters: {'max_depth': 14, 'max_features': 7}. Best is trial 35 with value: 0.9057745057491697.
[I 2024-04-16 11:18:09,884] Trial 72 finished with value: 0.9060989060110446 and parameters: {'max_depth': 13, 'max_features': 6}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:18:20,998] Trial 73 finished with value: 0.9057155347951357 and parameters: {'max_depth': 12, 'max_features': 6}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:18:32,039] Trial 74 finished with value: 0.9057155347951357 and parameters: {'max_depth': 12, 'max_features': 6}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:18:39,224] Trial 75 finished with value: 0.9046538071264353 and parameters: {'max_depth': 11, 'max_features': 4}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:18:50,260] Trial 76 finished with value: 0.9057155347951357 and parameters: {'max_depth': 12, 'max_features': 6}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:19:09,882] Trial 77 finished with value: 0.9039754950323261 and parameters: {'max_depth': 12, 'max_features': 12}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:19:21,979] Trial 78 finished with value: 0.9052731587038475 and parameters: {'max_depth': 10, 'max_features': 8}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:19:44,235] Trial 79 finished with value: 0.9047127937364747 and parameters: {'max_depth': 11, 'max_features': 15}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:19:58,422] Trial 80 finished with value: 0.9058334636565325 and parameters: {'max_depth': 11, 'max_features': 9}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:20:14,616] Trial 81 finished with value: 0.9048602576522393 and parameters: {'max_depth': 12, 'max_features': 9}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:20:41,490] Trial 82 finished with value: 0.9047422948694973 and parameters: {'max_depth': 13, 'max_features': 8}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:21:01,325] Trial 83 finished with value: 0.9058334636565325 and parameters: {'max_depth': 11, 'max_features': 9}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:21:17,883] Trial 84 finished with value: 0.904771767299843 and parameters: {'max_depth': 11, 'max_features': 10}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:21:34,509] Trial 85 finished with value: 0.9048307043325319 and parameters: {'max_depth': 11, 'max_features': 11}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:21:47,604] Trial 86 finished with value: 0.9050077215680039 and parameters: {'max_depth': 10, 'max_features': 9}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:21:58,737] Trial 87 finished with value: 0.9049192677462871 and parameters: {'max_depth': 9, 'max_features': 8}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:22:18,383] Trial 88 finished with value: 0.904771767299843 and parameters: {'max_depth': 11, 'max_features': 10}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:22:33,121] Trial 89 finished with value: 0.9048602576522393 and parameters: {'max_depth': 12, 'max_features': 9}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:22:47,354] Trial 90 finished with value: 0.9047422948694973 and parameters: {'max_depth': 13, 'max_features': 8}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:23:01,934] Trial 91 finished with value: 0.9048602576522393 and parameters: {'max_depth': 12, 'max_features': 9}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:23:13,704] Trial 92 finished with value: 0.9053911110492526 and parameters: {'max_depth': 14, 'max_features': 6}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:23:27,110] Trial 93 finished with value: 0.9057745057491697 and parameters: {'max_depth': 12, 'max_features': 8}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:23:41,154] Trial 94 finished with value: 0.9047422948694973 and parameters: {'max_depth': 13, 'max_features': 8}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:23:53,888] Trial 95 finished with value: 0.9050372044356866 and parameters: {'max_depth': 11, 'max_features': 8}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:24:10,939] Trial 96 finished with value: 0.9050076980839957 and parameters: {'max_depth': 13, 'max_features': 9}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:24:28,428] Trial 97 finished with value: 0.9046538306104436 and parameters: {'max_depth': 12, 'max_features': 11}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:24:40,541] Trial 98 finished with value: 0.9053321087832075 and parameters: {'max_depth': 10, 'max_features': 7}. Best is trial 72 with value: 0.9060989060110446.
[I 2024-04-16 11:24:51,448] Trial 99 finished with value: 0.9044768629523222 and parameters: {'max_depth': 8, 'max_features': 9}. Best is trial 72 with value: 0.9060989060110446.

Best parameters: {'max_depth': 13, 'max_features': 6}
Accuracy on test data: 0.9038308413695479

For Q3 and Q4 ,use the following data.

In [ ]:
dr=pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/diamond.csv')
dr

,Carat Weight,Cut,Color,Clarity,Polish,Symmetry,Report,Price
0,1.10,Ideal,H,SI1,VG,EX,GIA,5169
1,0.83,Ideal,H,VS1,ID,ID,AGSL,3470
2,0.85,Ideal,H,SI1,EX,EX,GIA,3183
3,0.91,Ideal,E,SI1,VG,VG,GIA,4370
4,0.83,Ideal,G,SI1,EX,EX,GIA,3171
...,...,...,...,...,...,...,...,...
5995,1.03,Ideal,D,SI1,EX,EX,GIA,6250
5996,1.00,Very Good,D,SI1,VG,VG,GIA,5328
5997,1.02,Ideal,D,SI1,EX,EX,GIA,6157
5998,1.27,Signature-Ideal,G,VS1,EX,EX,GIA,11206
5999,2.19,Ideal,E,VS1,EX,EX,GIA,30507

In [ ]:
def Encoder(df):
          from sklearn import preprocessing
          columnsToEncode = list(df.select_dtypes(include=['category','object']))
          le = preprocessing.LabelEncoder()
          for feature in columnsToEncode:
              try:
                  df[feature] = le.fit_transform(df[feature])
              except:
                  print('Error encoding '+feature)
          return df

In [ ]:
dr=Encoder(dr)
dr

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report  Price
0             1.10    2      4        2       3         0       1   5169
1             0.83    2      4        3       2         2       0   3470
2             0.85    2      4        2       0         0       1   3183
3             0.91    2      1        2       3         3       1   4370
4             0.83    2      3        2       0         0       1   3171
...            ...  ...    ...      ...     ...       ...     ...    ...
5995          1.03    2      0        2       0         0       1   6250
5996          1.00    4      0        2       3         3       1   5328
5997          1.02    2      0        2       0         0       1   6157
5998          1.27    3      3        3       0         0       1  11206
5999          2.19    2      1        3       0         0       1  30507

[6000 rows x 8 columns]

In [ ]:
y = dr['Price'] #Output
X = dr.drop('Price',axis=1)
X

      Carat Weight  Cut  Color  Clarity  Polish  Symmetry  Report
0             1.10    2      4        2       3         0       1
1             0.83    2      4        3       2         2       0
2             0.85    2      4        2       0         0       1
3             0.91    2      1        2       3         3       1
4             0.83    2      3        2       0         0       1
...            ...  ...    ...      ...     ...       ...     ...
5995          1.03    2      0        2       0         0       1
5996          1.00    4      0        2       3         3       1
5997          1.02    2      0        2       0         0       1
5998          1.27    3      3        3       0         0       1
5999          2.19    2      1        3       0         0       1

[6000 rows x 7 columns]

In [ ]:
from sklearn.model_selection import  train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

Q3)Using Linear Regression,Decison Tree Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters (no parameter specifications except random_state) calculate R2 statistics on test data. Which method gives the best accuracy on test data

In [13]:
#Q3)Using Linear Regression,Decison Tree Random Forest,XGBoost, Light GBM and Gradient Boosting Classifier with default parameters
#(no parameter specifications except random_state) calculate R2 statistics on test data. Which method gives the best accuracy on test data

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import r2_score

# Read the data
dr = pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/diamond.csv')

# Encode categorical variables
def encoder(df):
    from sklearn.preprocessing import LabelEncoder
    columns_to_encode = list(df.select_dtypes(include=['category', 'object']))
    le = LabelEncoder()
    for feature in columns_to_encode:
        df[feature] = le.fit_transform(df[feature])
    return df

dr_encoded = encoder(dr)

# Split the data into features (X) and target variable (y)
y = dr_encoded['Price']
X = dr_encoded.drop('Price', axis=1)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

# Initialize models
models = {
    "Linear Regression": LinearRegression(),
    "Decision Tree": DecisionTreeRegressor(random_state=17),
    "Random Forest": RandomForestRegressor(random_state=17),
    "XGBoost": XGBRegressor(random_state=17),
    "Light GBM": LGBMRegressor(random_state=17),
    "Gradient Boosting": GradientBoostingRegressor(random_state=17)
}

# Calculate R2 statistics on test data for each model
results = {}
for name, model in models.items():
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    r2 = r2_score(y_test, y_pred)
    results[name] = r2

# Print R2 statistics for each model
for name, r2 in results.items():
    print(f"R2 score for {name}: {r2}")

[LightGBM] [Warning] Found whitespace in feature_names, replace with underlines
[LightGBM] [Info] Auto-choosing col-wise multi-threading, the overhead of testing was 0.000856 seconds.
You can set `force_col_wise=true` to remove the overhead.
[LightGBM] [Info] Total Bins 193
[LightGBM] [Info] Number of data points in the train set: 4500, number of used features: 7
[LightGBM] [Info] Start training from score 11827.946667
R2 score for Linear Regression: 0.823384582969696
R2 score for Decision Tree: 0.95923297527452
R2 score for Random Forest: 0.9799660276771226
R2 score for XGBoost: 0.9808734679798924
R2 score for Light GBM: 0.9812609895578275
R2 score for Gradient Boosting: 0.9739035655494326

Q4) Using optuna hyperparmeter optimization technique (100 trial)  with Random Forest,XGBoost, Light GBM and Gradient Boosting Regressor

a)find best methods with  parameters  using Cross validation (CV=3) technique for the range of   parameters below. What are the best parameters for the method with highest cross validation R2?

"max_depth": range(2, 7), "max_features": range(2, 7)

 b)Evaluate the performance of the  method with highest cross validation R2 on test data. What is the R2 value?

In [14]:
#Q4) Using optuna hyperparmeter optimization technique (100 trial) with Random Forest,XGBoost, Light GBM and Gradient Boosting Regressor

#a)find best methods with parameters using Cross validation (CV=3) technique for the range of parameters below. What are the best parameters
#for the method with highest cross validation R2?
#"max_depth": range(2, 7), "max_features": range(2, 7)

#b)Evaluate the performance of the method with highest cross validation R2 on test data. What is the R2 value?
import optuna
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

# Read the data
dr = pd.read_csv('https://raw.githubusercontent.com/ogut77/DataScience/main/data/diamond.csv')

# Encode categorical variables
def encoder(df):
    from sklearn.preprocessing import LabelEncoder
    columns_to_encode = list(df.select_dtypes(include=['category', 'object']))
    le = LabelEncoder()
    for feature in columns_to_encode:
        df[feature] = le.fit_transform(df[feature])
    return df

dr_encoded = encoder(dr)

# Split the data into features (X) and target variable (y)
y = dr_encoded['Price']
X = dr_encoded.drop('Price', axis=1)

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=17)

# Define objective function for Optuna
def objective(trial):
    # Define search space
    params = {
        "max_depth": trial.suggest_int("max_depth", 2, 7),
        "max_features": trial.suggest_int("max_features", 2, 7)
    }

    # Initialize model
    model = RandomForestRegressor(**params, random_state=17)

    # Perform cross-validation
    cv_scores = cross_val_score(model, X_train, y_train, cv=3, scoring='r2')

    # Return mean cross-validation R2 score
    return cv_scores.mean()

# Create study object and optimize hyperparameters
study = optuna.create_study(direction="maximize")
study.optimize(objective, n_trials=100)

# Get best parameters
best_params = study.best_params
print("Best parameters:", best_params)

# Initialize model with best parameters
best_model = RandomForestRegressor(**best_params, random_state=17)

# Train best model on full training data
best_model.fit(X_train, y_train)

# Evaluate the performance of the best model on the test data
y_pred = best_model.predict(X_test)
test_r2 = r2_score(y_test, y_pred)
print("R2 score on test data:", test_r2)

[I 2024-04-16 11:24:59,622] A new study created in memory with name: no-name-429458b1-f1a3-4fef-a131-279565e31a73
[I 2024-04-16 11:25:00,389] Trial 0 finished with value: 0.5600566507319981 and parameters: {'max_depth': 2, 'max_features': 2}. Best is trial 0 with value: 0.5600566507319981.
[I 2024-04-16 11:25:01,127] Trial 1 finished with value: 0.9187436916750902 and parameters: {'max_depth': 4, 'max_features': 5}. Best is trial 1 with value: 0.9187436916750902.
[I 2024-04-16 11:25:01,772] Trial 2 finished with value: 0.907429524548952 and parameters: {'max_depth': 4, 'max_features': 4}. Best is trial 1 with value: 0.9187436916750902.
[I 2024-04-16 11:25:02,465] Trial 3 finished with value: 0.9187436916750902 and parameters: {'max_depth': 4, 'max_features': 5}. Best is trial 1 with value: 0.9187436916750902.
[I 2024-04-16 11:25:03,026] Trial 4 finished with value: 0.7819324835226356 and parameters: {'max_depth': 4, 'max_features': 2}. Best is trial 1 with value: 0.9187436916750902.
[I 2024-04-16 11:25:03,689] Trial 5 finished with value: 0.8660534697962478 and parameters: {'max_depth': 3, 'max_features': 6}. Best is trial 1 with value: 0.9187436916750902.
[I 2024-04-16 11:25:04,692] Trial 6 finished with value: 0.9720558623263608 and parameters: {'max_depth': 7, 'max_features': 6}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:05,682] Trial 7 finished with value: 0.9609405790363023 and parameters: {'max_depth': 6, 'max_features': 7}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:06,309] Trial 8 finished with value: 0.8938298760966701 and parameters: {'max_depth': 6, 'max_features': 2}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:07,079] Trial 9 finished with value: 0.9459607335237087 and parameters: {'max_depth': 5, 'max_features': 5}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:08,180] Trial 10 finished with value: 0.9710219510219829 and parameters: {'max_depth': 7, 'max_features': 7}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:09,270] Trial 11 finished with value: 0.9710219510219829 and parameters: {'max_depth': 7, 'max_features': 7}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:10,306] Trial 12 finished with value: 0.9720558623263608 and parameters: {'max_depth': 7, 'max_features': 6}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:11,556] Trial 13 finished with value: 0.9633435487968379 and parameters: {'max_depth': 6, 'max_features': 6}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:12,832] Trial 14 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:13,825] Trial 15 finished with value: 0.9633435487968379 and parameters: {'max_depth': 6, 'max_features': 6}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:14,663] Trial 16 finished with value: 0.9451625573691955 and parameters: {'max_depth': 5, 'max_features': 6}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:15,438] Trial 17 finished with value: 0.9533571582401862 and parameters: {'max_depth': 7, 'max_features': 3}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:16,282] Trial 18 finished with value: 0.9451625573691955 and parameters: {'max_depth': 5, 'max_features': 6}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:17,114] Trial 19 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:18,110] Trial 20 finished with value: 0.9609405790363023 and parameters: {'max_depth': 6, 'max_features': 7}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:19,220] Trial 21 finished with value: 0.9710219510219829 and parameters: {'max_depth': 7, 'max_features': 7}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:20,312] Trial 22 finished with value: 0.9710219510219829 and parameters: {'max_depth': 7, 'max_features': 7}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:21,217] Trial 23 finished with value: 0.9633435487968379 and parameters: {'max_depth': 6, 'max_features': 6}. Best is trial 6 with value: 0.9720558623263608.
[I 2024-04-16 11:25:22,148] Trial 24 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:23,000] Trial 25 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:24,380] Trial 26 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:25,167] Trial 27 finished with value: 0.68051387739466 and parameters: {'max_depth': 2, 'max_features': 3}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:26,070] Trial 28 finished with value: 0.9459607335237087 and parameters: {'max_depth': 5, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:26,629] Trial 29 finished with value: 0.7430594344013942 and parameters: {'max_depth': 2, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:27,262] Trial 30 finished with value: 0.8639582097697365 and parameters: {'max_depth': 3, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:28,274] Trial 31 finished with value: 0.9720558623263608 and parameters: {'max_depth': 7, 'max_features': 6}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:29,209] Trial 32 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:30,146] Trial 33 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:30,995] Trial 34 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:31,840] Trial 35 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:32,689] Trial 36 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:33,526] Trial 37 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:34,436] Trial 38 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:35,008] Trial 39 finished with value: 0.8009322787970058 and parameters: {'max_depth': 3, 'max_features': 3}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:36,018] Trial 40 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:37,382] Trial 41 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:38,558] Trial 42 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:39,491] Trial 43 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:40,343] Trial 44 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:41,186] Trial 45 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:42,022] Trial 46 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:42,722] Trial 47 finished with value: 0.9187436916750902 and parameters: {'max_depth': 4, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:43,645] Trial 48 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:44,557] Trial 49 finished with value: 0.9633435487968379 and parameters: {'max_depth': 6, 'max_features': 6}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:45,402] Trial 50 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:46,333] Trial 51 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:47,257] Trial 52 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:48,190] Trial 53 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:49,663] Trial 54 finished with value: 0.9720558623263608 and parameters: {'max_depth': 7, 'max_features': 6}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:50,859] Trial 55 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:51,865] Trial 56 finished with value: 0.9720558623263608 and parameters: {'max_depth': 7, 'max_features': 6}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:52,711] Trial 57 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:53,548] Trial 58 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:54,462] Trial 59 finished with value: 0.9633435487968379 and parameters: {'max_depth': 6, 'max_features': 6}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:55,378] Trial 60 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:56,283] Trial 61 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:57,196] Trial 62 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:58,133] Trial 63 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:25:59,062] Trial 64 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:00,065] Trial 65 finished with value: 0.9720558623263608 and parameters: {'max_depth': 7, 'max_features': 6}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:01,040] Trial 66 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:02,182] Trial 67 finished with value: 0.9459607335237087 and parameters: {'max_depth': 5, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:03,382] Trial 68 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:04,220] Trial 69 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:05,238] Trial 70 finished with value: 0.9720558623263608 and parameters: {'max_depth': 7, 'max_features': 6}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:06,171] Trial 71 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:07,085] Trial 72 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:08,016] Trial 73 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:08,935] Trial 74 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:09,785] Trial 75 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:10,707] Trial 76 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:11,712] Trial 77 finished with value: 0.9720558623263608 and parameters: {'max_depth': 7, 'max_features': 6}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:12,269] Trial 78 finished with value: 0.7819324835226356 and parameters: {'max_depth': 4, 'max_features': 2}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:13,194] Trial 79 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:14,452] Trial 80 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:15,809] Trial 81 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:16,737] Trial 82 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:17,666] Trial 83 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:18,586] Trial 84 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:19,507] Trial 85 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:20,348] Trial 86 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:21,274] Trial 87 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:22,274] Trial 88 finished with value: 0.9720558623263608 and parameters: {'max_depth': 7, 'max_features': 6}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:23,095] Trial 89 finished with value: 0.9634604096785503 and parameters: {'max_depth': 6, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:23,929] Trial 90 finished with value: 0.9684653578103969 and parameters: {'max_depth': 7, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:24,868] Trial 91 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:25,825] Trial 92 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:27,192] Trial 93 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:28,510] Trial 94 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:29,422] Trial 95 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:30,330] Trial 96 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:30,878] Trial 97 finished with value: 0.7430594344013942 and parameters: {'max_depth': 2, 'max_features': 4}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:31,514] Trial 98 finished with value: 0.8639582097697365 and parameters: {'max_depth': 3, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.
[I 2024-04-16 11:26:32,434] Trial 99 finished with value: 0.9720609785033627 and parameters: {'max_depth': 7, 'max_features': 5}. Best is trial 24 with value: 0.9720609785033627.

Best parameters: {'max_depth': 7, 'max_features': 5}
R2 score on test data: 0.9727753257884052